@charset "utf-8";
/* CSS Document */

/* Objects */
header {
	text-align: Center;
	background-color: grey;
	padding: 10px;
}

footer {
	text-align: center;
	background-color: grey;
	font-size: bold;
}

nav li {
	
}

/* Classes */
.title {
	font-size: 50px;
}

.nav {
	border-color: black;
	border-width: medium;
	border-style: solid;
	background-color: black;
	color: white;
}

/* Id's */
#wrapper {
	width: 80%;
	margin: 0 10%;
	background-color: lightgray;
}